@media (min-width: 768px) and (max-width: 992px){
    section.digikala {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: start;
        margin-bottom: 10px;
      }
      section.digikala > div.banerdigikala {
        width: 98%;
        display: flex;
        margin-bottom: 20px;
        margin-right: 10px;
      }
      section.digikala > div.banerdigikala >img{
        width: 100%;
      }
      section.digikala >div.digikala{
        width: 80%;
        height: 100%;
        display: flex;
        align-items: start;
      }
      section.digikala >div.digikala> div.box {
        width: 100%;
        height: 100%;
        margin: 0 10px;
        display: flex;
        justify-content: start;
      }
      section.digikala >div.digikala> div.box > a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-flow: column;
        text-decoration: none;
      }
      section.digikala >div.digikala> div.box > a > div.img {
        width: 90%;
        height: 50%;
        display: flex;
        justify-content: center;
        margin-top: 4px;
      }
      section.digikala >div.digikala> div.box > a > div.img > img {
        width: 90%;
        height: 100%;
      }
      section.digikala >div.digikala> div.box > a > div.img > img.box1 {
        width: 100%;
        border-radius: 60%;
        background-color: #f0f0f1;
      }
      section.digikala >div.digikala> div.box > a > h4 {
        width: 90%;
        color: black;
        font-size: 10px;
        text-align: center;
      } 
}